
body {
	
	
	background: url("../images/bg_email.png") repeat scroll 0px 0px;
    margin: 0;
    padding: 0;
	
}

tabe {
	
	background: url("../images/bg_email.png") repeat scroll 0 0;
    margin: 0;
    padding: 0;

	width: 100%;
	
}

.pcontent p {

	color: #2d817d;
    font-size: 13px;
    line-height: 16px;

    padding: 0;
	
}

.bgheadertop {
	
	background: rgba(0, 0, 0, 0) url("../images/bg_header_top.jpg") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 600px;
}

.unsubscribe p {
	
	padding: 0; 
	margin: 0;
	color: #666;
	font-size: 12px;
}

.header p {
	
	padding: 0; 
	margin: 0;
}

.top {
	
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	color: #ffe3a9;
	margin: 0 0 14px;
}