
.pasek {
	
	background: url('../images/date-bg.jpg');
	width:357px;
	background-color: #312c26;
	height:42px;
}

.tabela {
	
	width:684px;
	background: url('../images/header-bg.jpg');
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fffdf9;
}

.ribbonp p, strong {
	
	color: #fff;
	
}

.ribbonp p {
	
	color: #fff;
}

.ribbonp {
	
	color: #fff;
}

.tabel p {
	
	margin: 0px;
	padding: 0px;

	
}

.tabela p {
	
	margin: 0px;
	padding: 0px;
}

.ribbon {
	
	background: url('../images/ribbon.jpg');
	background-color: #c72439;
	height:120px; 
	width:80px;

}

.img1 {
	
	background: url('../images/header-bg.jpg');
	width:622px;
	border: solid 1px #FFF;
	box-shadow: 2px 2px 6px #333;
	-webkit-box-shadow: 2px 2px 6px #333;
	-khtml-box-shadow: 2px 2px 6px #333;
	-moz-box-shadow: 2px 2px 6px #333;
	
}
/*
images/line-break.jpg
*/
.linebreak {

	background:url('../images/line-break.jpg');
	width:622px;
	height:27px;
}

.linebreak2 {
	
	background:url('../images/line-break-2.jpg');
	width:622px;
	height:72px;
}