

.linebreak {
	
		background: url('../images/line-break-2.jpg');
		height:13px;
		width:624px;
}

.lbreak {
	
	background: url('../images/line-break.jpg');
		height:10px;
		width:624px;
}

.lbreaksecond {
	
	background: url('../images/line-break.jpg');
	height:10px;
	width:624px;
	margin-bottom: 17px;
	margin-top: 17px;
}

.spacertop {
	
	background: url('../images/spacer-top.jpg');
	height:12px;
	width:624px;
}

.linebreak2 {
	
	background: url('../images/line-break.jpg');
	height:10px;
	width:624px;
}

.spacerten {
	
	background: url('../images/spacer-ten.jpg');
	height:10px;
	width:624px;
}

table p {
	
	margin: 0;
	padding: 0;
}