
body {
	
	background-color: #c5c5c5;
	background-image: url('../images/bg.gif'); 
	width: 100%;
	
}

table {
	
	
	margin: 0 auto;
}
/*

style="background-image: url(./images/bg.gif); background-color: #c5c5c5;" cellpadding="0" width="100%"

*/

.breakerimage {
	
	background: url('../images/breaker.jpg');
	height:20px;
	width:600px;
}

.img2 {
	
	background: url('../images/image2.jpg');
	height: 179px;
	width: 141px;
	border: 0;
	float: left;
}