
.emailfriend {
	
	background: url("../images/icon_email_friend.gif") no-repeat scroll center center / cover;
	height: 35px;
	width: 35px;

}

.iconfooter  {
	
	background: url("../images/icon-footer.gif") no-repeat scroll center center / cover;
	height: 35px;
	width: 35px;

}

.footergif {
	
	background: url("../images/footer_05.gif") no-repeat scroll center center / cover;
	width: 599px;
	height: 25px;
}

.imgarrow {
	
	background: url("../images/arrow.gif") no-repeat scroll center center / cover;
	width: 96px; 
	height: 56px;
}

.footerimg {
	
	background: url("../images/footer_02.gif");
	width: 1px;
	height: 140px;
}