
body {
	
	background-color: #3d4852;
	background: url('../images/bg_body.gif');
	width: 100%;
}

.outer {
	
	background-color: #3d4852;
	background: url('../images/bg_body.gif');
	width: 100%;

	
}

.div1 {
	
	background: url('../images/bg_body.gif');
	width: 1px;
	height:12px;
}


.div2 {
	
	background: url('../images/blank.gif');
	width: 1px;
	height:20px;
}


.div3 {
	
	background: url('../images/blank.gif');
	width: 15px;
	height:1px;
}

.div4 {
	
	background: url('../images/blank.gif');
	height:8px;
	width: 1px;
}

#titleh2 {
	
	 color: #3994b5;
    font-family: Arial,Helvetica;
    font-size: 30px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 18px;
    text-align: left;
}

#titleh2 p {
	
	 color: #3994b5;
    font-family: Arial,Helvetica;
    font-size: 30px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 18px;
    text-align: left;
}

.headerimg {
	
	background: url('../images/header_l.gif');
	width: 405px;
	height: 184;
}

.tblue {
	
	background: url('../images/title_blue2.gif');
	width:21px;
	height:56px;
	
}

.singlecol {
	
	background: url('../images/topbot_singlecol.gif');
	width:600px;
	height:14px;
}

.rightsinglecol {
	
	background: url('../images/title_rightsinglecol_blue1.gif');
	width:15px;
	height:56px;
	
}

.header_strip {
	
	background: url('../images/header_strip.gif');
	width:20px;
	height:249px;
}

.header_r {
	
	background: url('../images/header_r.gif');
	width:45px;
	height:249px;
	
}

.blank {
	
	background: url('../images/blank.gif');
	width:15px;
	height:1px;

}

.blank2 {
	
	background: url('../images/blank.gif');
	width: 1px;
	height: 12px;
}

.blank3 {
	
	background: url('../images/blank.gif');
	width: 100px;
	height: 26px;
}

.headermbsg {
	
	background: url('../images/header_mbsbg.gif');
	height: 79px;
	width: 16px;
	
}

.header_m {
	
	background: url('../images/header_m.gif');
	width:100px;
	height:79px;
}

.date {
	
	background-color: #f2f8fa;
    background-image: url("../images/header_mbg.gif");
    background-position: center top;
}

.bgh1 {
	
	background: url('../images/bg_title.gif') no-repeat;
	height: 65px;
}

.topbot {
	
	background: url('../images/topbot_singlecol.gif');
	width:600px;
	height:10px;
}

.backtotop {
	
	background-color: #eaf4f7;
	
}
.backtotop a:link, .backtotop a:visited {
	
	color: #92afb6;
    text-decoration: none;
}

.backtotop a {
	
	 background: rgba(0, 0, 0, 0) url("../images/backtotop.gif") no-repeat scroll right top;
    font-family: Verdana,Arial;
    padding: 0 17px 0 0;
}

.whitecol ul li, .whitecol ol li {
	
	border-top: 1px dotted #9c9c93;
    color: #4b5863;
    font-family: Verdana,Arial;
    font-size: 11px;
    line-height: 18px;
    padding: 3px 0 10px;
	
}

.whitecol h2 {
	
	 color: #3994b5 !important;
    font-family: Arial,Helvetica;
    font-size: 30px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 18px;
    text-align: left;
}

h1 {
	
	 color: #ffffff;
    font-family: "Arial Black",Arial,Helvetica;
    font-size: 48px;
    line-height: 39px;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 1px #1b5362;
}

.whitecol p {
	
	color: #4b5863;
    font-family: Verdana,Arial;
    font-size: 11px;
    line-height: 18px;
    margin: 0 0 8px;
    text-align: left;
}

h1 p {
	
	 margin: 0;
    padding: 0;
}

.blanko {
	
	background: url('../images/blank.gif');
	width:570px;
	height:8px;
	

}

