
body {
	
	background-color: #c3b598;
	background-image: url("../images/bg.jpg");
    background-position: center top;
    margin: 0;
	background-repeat: repeat-y no-repeat;
}

.tdbg {
	
	background-image: url('../images/bg.jpg');
	background-repeat: repeat;
}

.headertop {
	
	background-image: url('../images/header-top.jpg');
	width:269px;
	height:18px; 
}

.stampbell {
	
	background-image: url('../images/stamp-bell.jpg');
	width:65px;
	height:71px;
}

.doublespacer {
	
	background-image: url('../images/double-spacer.jpg');
	width:599px;
	height:6px;
}

table p {
	
	margin: 0px;
	padding: 0px;
}

.pgora p {
	
	margin:0;
	padding:0;
	color:#766d59;
	font-size: 12px;
}

/*

 class="bgstampp" cellspacing="0" cellpadding="0" border="11" align="center" width="621" bgcolor="#f7f3e6" background="images/bg-stamp-3.jpg" style="border-width:11px; border-color:#ffffff; border-style:solid; background-color:#f7f3e6; background-image: url('images/bg-stamp-3.jpg'); background-position: center top; background-repeat: repeat-x no-repeat;"

*/

.bgstampp {
	

	width:621px;
	text-align: center;
	background: url('../images/bg-stamp-3.jpg');
	background-position: center top;
	z-index: 1000;
	background-repeat: repeat-x no-repeat;
}


.stamp {
	

	width:65px; 
	height:71px;
}

.topspacer3 {
	
	background-image: url('../images/article-spacer-3.jpg');
	width:551px;
	height:6px;
}

.tpspacer3 {
	
	background-image: url('../images/top-spacer-3.jpg');
	width:551px;
	height:1px;
}

.bottomdbspacer {
	
	background-image: url('../images/bottom-db-spacer.jpg');
	width:597px;
	height:6px;
}

.returned {
	
	background-image: url('../images/returned.jpg');
	width:189px;
	height:102px;
}