

body {
	
	background: #e8e6e0 url('../images/bg_email.png');
}



.divider {
	
	background: url('../images/bg_divider.png');
	width: 505px;
	height: 20px;
	
}

.divider_wide {
	
	background: url('../images/bg_divider_wide.png');
	width: 600px;
	height: 20px;

}