
body {
	
	margin: 0px;
}

.bgItem {
	
	background: #2c94e0 none repeat scroll 0 0;
	height: 290px;
	width: 100%;
	
}

.bgItem p {
	
	color: #fff;
}

.bgItem h1 p {
	
	color: #333;
	
}



.table a span { 

	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.movableContent p {
	
	margin: 0px;
	padding: 0px;
}

p {
	
	color: #99a1a6;
    font-size: 13px;
    line-height: 19px;
}


h2, h1 p {
	
    color: #444444;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
}

h2 p {
	
	color: #444444;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
}